{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<html>
<head>
	<title>Nazila Rahma</title>
	
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" >
	<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" >
	
	
	
	<link href="https://fonts.googleapis.com/css?family=Chilanka&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
</head>

<body>
		<nav class="navbar navbar-expand-lg warnaNavbar fixed-top">
	  		<a class="navbar-brand" href="{% url 'index' %}"> HOME</a>
			<a class="navbar-brand" href="{% url 'mine' %}"> GALLERY</a>
	  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	    		<span class="navbar-toggler-icon"></span>
	  		</button>
	  		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    	<div class="navbar-nav ml-auto">
	      <a class="nav-item nav-link">Nazila Rahma</a> 
	    </div>
	  </div>
	</nav>
	
	<div class="home"  id="index">
		Welcome
	</div>
	
   	<div class="about" id="about">
   	 <h2> <span class="label label-default h2">About</span></h2><br>
   	 <p>Hello! my name is Nazila Rahma. You can call me Nazila. i'm 19 years old. I'm a student at the Faculty of Computer Science in the University of Indonesia. I am a friendly person, and i'm flexible to work at any time and place.  If you want to know more about me, just contact me! </p><br>
   	 <br><h3> <span class="label label-default h3"> Education Details</span></h2><br>
        <p>MI Adabiyah 2 Palembang<br>
        SMP LTI IGM Palembang<br>
        SMA N 3 Palembang<br>
        Universitas Indonesia</p><br>
   	 <br><h3> <span class="label label-default h3"> My Interest</span></h2><br>
	  	
   	         <img src="{% static 'microphone-sing.png' %}"  class="gambar rounded-circle">
   	     	 <img src="{% static 'guitar-icon-png-27.png' %}" class="gambar rounded-circle">
   	     	   <img src="{% static 'trip-icon-20.png' %}"  class="gambar rounded-circle">  
   			   <p>since I was a kid, I like music. I like to sing, and I like to play guitar. Besides that, I also really like traveling and shopping.</p><br> 
			    
   	<br><h3> <span class="label label-default h3">Skills</span></h2><br>
           <img src="{% static 'logo.png' %}"  class="gambar rounded-circle">
       	 <img src="{% static 'js.png' %}"  class="gambar rounded-circle">
       	   <img src="{% static 'html.png' %}"  class="gambar rounded-circle">
         	 <img src="{% static 'css.png' %}"  class="gambar rounded-circle">
         	   <img src="{% static 'jv.png' %}"  class="gambar rounded-circle">
   		   <br>
   	<div clas="container">
   	    <div class="row">
   	      <div class="col">
   	        <br><br><h3> <span class="label label-default h3">Organization</span></h2><br>
   				<div class="d-flex flex-row">
   				    <img src="{% static 'sistem.png' %}"  class="gambar1 rounded-circle">
   				    <p class="or">SISTEM Fasilkkom UI<br>Information Management</p><br>
   				 </div>
   				 <div class="d-flex flex-row">
   				<img src="{% static 'fuki.png' %}" class="gambar1 rounded-circle">
   				<p class="or">FUKI Fasilkom UI<br>Corporation</p>
   			</div>
			   
   	      </div>
   	      <div class="col">
   	        <br><br><h3> <span class="label label-default h3">Experience</span></h2><br>
   					<div class="d-flex flex-row">
   					    <img src="{% static 'cft.png' %}"  class="gambar1 rounded-circle">
   					    <p class="or">COMPFEST<br>Editorial Marketinng</p><br>
   					 </div>
   					 <div class="d-flex flex-row">
   					<img src="{% static 'siwak.png' %}"  class="gambar1 rounded-circle">
   					<p class="or">SIWAK-NG<br>Accomodation</p>
   				</div>
   	      </div>
   	    </div>
   	</div>
	
    </div>
 
 
<div class="fixed">
    <a href="mailto:nazilarhmh@gmail.com" ><img src="https://cdn3.iconfinder.com/data/icons/social-circle/512/647403-email-512.png" height="40" width="40" ></a>
	  <a href="https://www.linkedin.com/in/nazilarahma/" target="_blank"> <img src="https://cdn3.iconfinder.com/data/icons/social-circle/512/social_7-128.png" height="40" width="40" ></a>
	  <a href="https://www.instagram.com/nazilarhm/" target="_blank"> <img src="https://cdn3.iconfinder.com/data/icons/social-circle/512/social_6-128.png" height="40" width="40" ></a>
      <a href="https://www.facebook.com/profile.php?id=100002749623591" target="_blank"><img src="https://cdn3.iconfinder.com/data/icons/social-circle/512/social_3-128.png" height="40" width="40" ></a>
	  <a href="https://www.youtube.com/channel/UCPxMVS6f8NMtUXE0Irp8W3w?view_as=subscriber" target="_blank"><img src="https://cdn3.iconfinder.com/data/icons/social-circle/512/647397-youtube-128.png" height="40" width="40" ></a>
  </div>
</body>
</html>